*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#072542;

color:white;

font-family:"Barlow",sans-serif;

}

header{

padding:25px;

text-align:center;

border-bottom:1px solid rgba(255,255,255,.1);

}

nav{

display:flex;

justify-content:center;

gap:15px;

padding:20px;

background:#0c3154;

}

nav button{

background:#1b5fa8;

color:white;

border:none;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

font-size:15px;

transition:.25s;

}

nav button:hover{

background:#2976cb;

}

nav button.active{

background:#f4b400;

color:#111;

font-weight:bold;

}

main{

width:95%;

max-width:1400px;

margin:auto;

padding:30px;

}

.card{

background:#10375b;

padding:25px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.35);

margin-bottom:20px;

}